<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title> Recuperar Password </title>

    <style>

      body {
        background: #93a5cf;
        background: linear-gradient(to right, #93a5cf, #e4efe9);
      }

      .bg {
        background-image: url(img/BG.png);
        background-position: center center;
      }
    </style>
</head>
<body>

  <div class="container w-75 bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

      </div>

      <div class="col bg-white p-5 rounded-end">
        <div class="text-end">
          <img src="img/logo_pelau-removebg-preview.png" width="48 " alt="">
        </div>

        <h2 class="fw-bold text-center py-5"> Recuperar password </h2>

        <!-- LOGIN -->
        <form action="#">
          <div class="mb-4">
            <label for="email" class="form-label"> Ingrese su correo electrónico para recuperar su contraseña. </label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="mb-4">
            <label for="email" class="form-label"> Confirme su correo electrónico. </label>
            <input type="email" class="form-control" name="email">
          </div>

          <div class="mb-4 form-check">
            <input type="checkbox" name="connected" class="form-check-input">
            <label for="connected" class="form-check-label"> Desea mantener su sesión iniciada?. </label>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary"> Recuperar password </button>
          </div>

        </form>

    </div>
  </div>






  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</body>
</html>